<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add Student Form</title>
        <link rel="stylesheet" href="../static/add_course.css">
    </head>
    <body>
        <div class="container">
            <h2>Add New Course Form</h2>
            <form action="/add_course" method="post" class="course-form" enctype="multipart/form-data">
                
                <div class="input-group">
                    <label for="course_section">Course Section</label>
                    <input type="text" name="course_section" placeholder="Enter The Course Section" required>
                </div>

                <div class="input-group">
                    <label for="days">Day</label>
                    <input list="days" name="days" placeholder="Select The Course Day" required>
                    <datalist id="days"></datalist>
                </div>

                <!--  -->
                <div class="input-group">
                    <label for="start_time">Start Time</label>
                    <input type="time" name="start_time" placeholder="Select The Course Start Time" required> 
                </div>

                <div class="input-group">
                    <label for="end_time">End Time</label>
                    <input type="time" name="end_time" placeholder="Select The Course End Time" required> 
                </div>
                <!--  -->

                <div class="input-group">
                    <label for="start_date">Start Date</label>
                    <input type="date" name="start_date" placeholder="Select the start date" required> 
                </div>

                <div class="input-group">
                    <label for="end_date">End Date</label>
                    <input type="date" name="end_date" placeholder="Select the end date" required>
                </div>

                <div class="input-group">
                    <label for="student_info">Upload All Student</label>
                    <input type="file" name="student_info" id="student_info" required>
                </div>

                <div class="submit-group">
                    <input type="submit" value="Submit" class="submit-btn">
                </div>
            </form>
            <div class="back-link">
                <a href="{{ url_for('manage_dashboard') }}">Back to dashboard</a>
            </div>
        </div>
        {% if message %}
            <script>
                alert("{{ message }}");
            </script>
        {% endif %}
    </body>
    <script>
        const daysDatalist = document.getElementById('days');
        const days = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"];

        // Loop through the days array
        for (let day of days) {
            // Create a new option element
            const option = document.createElement('option');
            // Set the value of the option
            option.value = day;
            // Append the option to the datalist
            daysDatalist.appendChild(option);
}
    </script>
</html>