<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Course Detail</title>
  <link rel="stylesheet" href="../static/course_detail.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
  <section class="class">
    <div class="class-list">
      <div class="header-container">
        <h1>Course ID : </h1>
        <h1>Course Section : </h1>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Last Attendance Date</th>
            <th>Number of Attendances</th>
            <th>Detail</th>
          </tr>
        </thead>
        <tbody>
            <!-- 课程信息将被插入这里 -->
            <tr>
                <td>U00000001</td>
                <td>Sam</td>
                <td>David</td>
                <td>03-24-22</td>
                <td>6</td>
                <td><button>View</button></td>
            </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
</html>
