<!DOCTYPE html>
<html>
<head>
    <title>{{date}} Attendance</title>
</head>
<body>
    <h1>{{date}} Attendance</h1>

    <style>
        /* 添加样式以设置表格边框 */
        table {
            border-collapse: collapse; /* 合并边框，使其更紧凑 */
            width: 100%;
            border: 1px solid #ddd; /* 设置表格的边框 */
        }

        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd; /* 设置单元格底部边框 */
        }

        th {
            background-color: #f2f2f2; /* 设置表头的背景颜色 */
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Attendance</th>
                <!-- Add more table headers for other columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ 'Y' if row[3] else 'N' }}</td>
                    <!-- Add more table cells for other columns as needed -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div><a href="{{ url_for('search_date_attend_form') }}">Back to search attendance by date</a></div>
    <div><a href="{{ url_for('manage_dashboard') }}">Back to dashboard</a></div>
</body>
</html>
