<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Student Detail</title>
  <link rel="stylesheet" href="../static/student_detail.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
  <section class="class">
    <div class="student-list">
      <div class="header-container">
        <h1>Student Name :</h1>
        <h1>Student ID : </h1>
      </div>
      <table class="table">
        <tr>
          <th>Attandance Date</th>
          <td>2023-09-17</td>
        </tr>
        <tr>
          <th>Attandance Date</th>
          <td>2023-09-24</td>
        </tr>
        <tr>
          <th>Attandance Date</th>
          <td>2023-10-01</td>
        </tr>
      </table>
    </div>
  </section>
</body>
</html>
